
<div class="row">

    {{#if selected_video.insights.labels }}
      <br />
      <br />
      <b>Labels:</b>
      <div class="container-fluid">
          <div class="row">
              <div class="col-12 text-left">
                  {{#each selected_video.insights.labels }} {{this.name}} {{#unless @last}},{{/unless}} {{/each}}
              </div>
          </div>
      </div>
    {{/if}}
    
    {{#if selected_video.insights.topics }}
      <br />
      <br />
      <b>Topics:</b>
      <div class="container-fluid">
          <div class="row">
              <div class="col-12 text-left">
                  {{#each selected_video.insights.topics }} {{this.name}} {{#unless @last}},{{/unless}} {{/each}}
              </div>
          </div>
      </div>
    {{/if}}

    {{#if selected_video.insights.namedPeople }}
      <br />
      <br />
      <b>Identified People:</b>
      <div class="container-fluid">
          <div class="row">
              <div class="col-12  text-left">
                  {{#each selected_video.insights.namedPeople }} {{this.name}} {{#unless @last}},{{/unless}} {{/each}}
              </div>
          </div>
      </div>
    {{/if}}

    
    {{#if selected_video.insights.faces }}
      <br />
      <br />
      <b>Facerecognition:</b> 
      <div class="container-fluid">
        <div class="row">
          {{#each selected_video.insights.faces }}
            <div class="col-4 p-2">
              <img width="40" height="40" src="{{this.uri}}">
              {{this.name}}
            </div>
          {{/each}}
        </div>
      </div>
    {{/if}}

    
    {{#if selected_video.insights.transcript }}
      <br />
      <br />
      <b>Transcript:</b>
      <div class="container-fluid">
        <div class="row">
            <div class="col-6 pb-2  text-left">
              Text
            </div>
            <div class="col-3 pb-2">
              von
            </div>
            <div class="col-3 pb-2">
              bis
            </div>
        </div>
        <hr />
        <div class="row">
          {{#each selected_video.insights.transcript }}
            <div class="col-6 pb-2  text-left">
              {{this.text}}
            </div>
            <div class="col-3 pb-2">
              {{this.instances.0.start}}
            </div>
            <div class="col-3 pb-2">
              {{this.instances.0.end}}
            </div>
          {{/each}}
        </div>
      </div>
    {{/if}}

    {{#if selected_video.insights.ocr }}
      <br />
      <br />
      <b>OCR:</b>
      <div class="container-fluid">
        <div class="row">
            <div class="col-8 pb-2">
              Text
            </div>
            <div class="col-4 pb-2">
              Sicherheit
            </div>
        </div>
        <div class="row">
          {{#each selected_video.insights.ocr }}
            <div class="col-8 pb-2">
              {{this.text}}
            </div>
            <div class="col-4 pb-2">
              {{this.confidence}}
            </div>
          {{/each}}
        </div>
      </div>
    {{/if}}
</div>

{{stringified}}
